<div class="backgrounds">
<h1>Welcome to bluewoods</h1><br>
<div class="black"><br><br>
<u>Who are we?</u><br>
<em class="para1">We are technocrats loving every backend services from APIs to databases. We arm you with out of the ordinary APIS and offer database integration services. Here we are offering you covid and weather API for your businesses along with map integration services </em><br><br>

<div class="covidmaps">
<img src="https://scitechdaily.com/images/Air-Flights.gif"><br><br>
<em class="para2">Signup with the domain name <b>@covid.com</b> if you are looking for covid info or signup with <b>@weather.com</b> for updated weather details. If you are registered with <b>@admin.com</b> domain, then you can be the DB administrator</em>
</div>
</div>
</div>