@media screen and (min-width: 800px)
{ 
table{
    table-layout: auto;
    width: 100%;
  
 
}
#myChart{
    width: 300px;
    height: 300px;
}
.backbtn{
    cursor: pointer;
}
td{
    padding-left: 40px;
}
/* td{
    font-style: italic;
} */

button{
    background-color: dodgerblue;
    border-radius: 10px;
    border:1px solid white;
    color: white;
    margin-left: 500px;
    outline: none;
}
#weathercharts{
    width:30%;
    height: 23%;
    margin-left: 300px;
}
tr:nth-child(even){
    background-color: rgb(219, 116, 136)
}
.pagnum{
    margin-left: 400px;
}
}
@media screen and (max-width: 600px)
{ 
table{
    table-layout: auto;
    width: 100%;

 
}
.backbtn{
    cursor: pointer;
}
td{
    padding-left: 10px;
    font-size: 0.7em;
 
  
}
tr:nth-child(even){
    background-color: rgb(219, 116, 136)
}
/* td{
    font-style: italic;
} */

button{
    background-color: dodgerblue;
    border-radius: 10px;
    border:1px solid white;
    color: white;
    margin-left: 120px;
    outline: none;
}
#weathercharts{
    width:30%;
    height: 50%;
    margin-left: 100px;
}
#myChart{
    width: 400px;
    height: 400px;
}
}