
  <table >

        <tr>
            <th>S.NO</th>
            <th>STATE</th>
            <th>CITY</th>
            <th>MINTEMP</th>
      
            <th>DESC</th>
        </tr>
      <tr *ngFor="let i of data|paginate: {itemsPerPage:5,currentPage:p};let f=index;">
          <td>{{f+1}}</td>
    <td>{{i.state}}</td>
    <td>{{i.city}}</td>
    <td>{{i.mintemp}}</td>
  
    <td>{{i.cc}}</td>
    </tr>
    <tr>
      <td colspan="9"><div class="pagnum"><pagination-controls (pageChange)="p=$event"></pagination-controls></div></td>
  </tr>

  </table><br>



 <button (click)="popsi()">Show charts</button>
 <div id="weatherchartss">
    <canvas id="myChart" width="700" height="250" #mychart></canvas>
 </div>
