

<div id="covidmains" #mains>
    <div class="cortitle" style="font-size: 2em;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">C<span><img width="30px" height="30px" src="https://image.similarpng.com/very-thumbnail/2020/11/Coronavirus-icon-on-transparent-background-PNG.png"></span>VID 2.0 TRACKER</div><br><br>
<select class="cortitle" style="width: 220px;" (change)="aftas()"#sels>
    <option>Select a country</option>
    <option *ngFor="let country of countries.regionData">{{country.region}}</option>
</select><br>
<div *ngFor="let country of countries.regionData" >
<div *ngIf="sels.value.includes(country.region)"><br>
<div id="coviddata">
    <div id="confirmed">Active Cases<br>{{country.activeCases}}&nbsp;&nbsp;<i class="fa fa-long-arrow-up" aria-hidden="true"></i></div><br>
    <div id="recovered"> Infected<br>{{country.newInfected}}&nbsp;&nbsp;<i class="fa fa-long-arrow-down" aria-hidden="true"></i></div><br>
    <div id="newdeaths">New Recovered<br>{{country.newRecovered}}&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i></div><br>
    <div id="deaths">New Deceased<br>{{country.newDeceased}}&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i></div><br>
   
    </div>
</div>


</div><br>
<h1 class="cortitle1" style="color:black">CHART JS VISUALIZER</h1>
<div class="chartview" >
    <canvas id="myChart"  #mychart></canvas>
 </div>


 </div>


