<nz-layout class="app-layout">
 
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo" style="color: black;">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/chat">Welcome to chatrooms</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/translator']">Translator</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout  [ngClass]="colors?'black':'white'">
    
    <nz-header>
   
      <div class="app-header"  [ngClass]="colors?'black':'white'">
        <div style="display: flex;justify-content: space-between;margin-left: 10px;">
        <span style="margin-top: -10px;" class="header-trigger" (click)="isCollapsed = !isCollapsed">
     
            <i  [ngClass]="colors1?'black1':'white1'"  class="trigger"
               nz-icon 
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        
        </span>

        <div style="margin-right:20px">
         
        <mat-slide-toggle style="margin-top: 20px;" (click)="Slides()"></mat-slide-toggle>&nbsp;&nbsp;&nbsp;
        <i [ngClass]="colors1?'black1':'white1'" style="font-size: 1.5em;" class="fa fa-sun-o" aria-hidden="true"></i>
   
        </div>
        <p style="margin-right: 30px;cursor: pointer;"  [ngClass]="colors1?'black1':'white1'" [routerLink]="['User/chat']" >Chat&nbsp;<i style="font-size: 1.5em;" class="fa fa-comments-o" aria-hidden="true"></i></p>
        </div>
      </div>
    
    </nz-header>
<!-- <div class="nav">
    <a style="color:white" (click)="popsi()">HOME</a>
    <a style="color:white" [routerLink]="['/listings']">LISTING</a>
    <a style="color:white ;" [routerLink]="['/translator']">Translator</a>
    <a style="color:white ;" [routerLink]="['/weather-dashboard']">Weather map</a>
    <a style="color:white ;" [routerLink]="['/covid-dashboard']">Covid-19</a>
    <a style="color:rgb(80, 1, 1)">LOGOUT</a>
</div> -->

    <nz-content style="background-color: white;">
    
        <router-outlet></router-outlet>
    
    </nz-content>
  </nz-layout>
</nz-layout>
